
<body>
  <div class = "workouts__title sfont">
    MY WORKOUTS
  </div>

  <div class="workouts__container">
    <% @workouts.each_slice(4) do |workouts| %>
    <div class="row row--workouts">
      <% workouts.each do |workout| %>
      <div class="col-3">
        <div class="workout__card">
          <div class="workout__card--left sfont">
            <%= workout.name%>
          </div>
          <div class="workout__card--right lfont">
            <div class="workout__card--right--text">
              <%= workout.description %>

            </div>
            <div class="right__icons">
              <%= link_to '<i class="far fa-eye"></i>'.html_safe, workout %>
              <%= link_to '<i class="fas fa-pen-square"></i>'.html_safe, edit_workout_path(workout) %>
              <%= link_to '<i class="fas fa-minus-square"></i>'.html_safe, workout, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>

          </div>

        </div>

      </div>
      <% end %>
    </div>
    <% end %>

    <div class="row">

    </div>
  </div>


<br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout.name %></td>
        <td><%= workout.description %></td>
        <td><%= workout.user_id %></td>
        <td><%= link_to 'Show', workout %></td>
        <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
        <td><%= link_to 'Destroy', workout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Workout', new_workout_path %>
</body>
