<p id="notice"><%= notice %></p>

<head>
  <% @firebase = Firebase::Client.new('https://fitrak-a97c2.firebaseio.com/TRAINERS')%>
  <% @username = current_user.email.split("@").first %>
  <% @email_tag = current_user.email.split("@").second %>
  <% @link = @username + "/clients" %> 
  <% @response = @firebase.get(@link) %>
  <% @clients_arr = @response.body %>
</head>
<body style = "background-image: url(/assets/clients-bg.svg); background-size: cover;">
  <div class = "index__title">
    <span class = index__heading>CLIENTS</span>
  </div>
  <div class = "client_cards_container">
      <% @clients_arr.each_slice(4) do |slice| %>  
      <div class="row client_row_padding">
          <% slice.each do |c| %>
          <div class="col-sm-3 hvr-float">
            
              <div class="client_card">
                <div class = "">

                  <span class = "client_name rfont"><%= c %></span>
                  <div class = "client_show_button">
                    <% if Client.where(:username => c).present? %>
                      <% cur_client = Client.where(:username => c)%> 
                      <%= link_to '', client_path(cur_client.ids), :class => 'client_show_button' %>
                    <% else %>
                      <%= link_to '', 
                      {:controller => "clients", 
                      :action => "create", 
                      :username => c, 
                      :user_id => current_user.id,
                      :email => c + "@" + @email_tag},{
                        :class => 'client_show_button',
                        :method => "post" 
                      }
                      %>
                    <% end %>
                  </div>
                  
                </div>
              </div>

          </div>
          <!-- <div class="col-sm-4">
              <div class="card">
                  <div class = "card-header text-center">
                      CLIENT 2 EXAMPLE
                    </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="card">
                  <div class = "card-header text-center">
                      CLIENT 3 EXAMPLE
                    </div>
              </div>
          </div> -->
          <% end %>
      </div>
      <% end %>
  </div>
    
</body>
<!-- <table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.username %></td>
        <td><%= client.email %></td>
        <td><%= client.user %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> -->

<!-- <%= link_to 'New Client', new_client_path %> -->
