<!-- <p id="notice"><%= notice %></p>

<h1>Pages</h1>

<table>
<thead>
<tr>
<th colspan="3"></th>
</tr>
</thead>

<tbody>
<% @pages.each do |page| %>
<tr>
<td><%= link_to 'Show', page %></td>
<td><%= link_to 'Edit', edit_page_path(page) %></td>
<td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</tbody>
</table>

<br>
<%= link_to 'New Page', new_page_path %> -->
<head>

</head>
<body style = "background: url(/assets/index-bg.svg); background-size:cover;">
  <div class = "index__container">
    <div class = "index__title">
      <span class = "rfont index__heading">Dashboard</span>
      <br>
      <span class = "rfont index__greeting"> Welcome, <%= current_user.email %></span>
    </div>
      <div class = "index_square">
        <%= link_to workouts_path do %>
        <div class = "inner_square --left --black --top hvr-grow workout__img">

        </div>
        <% end %>
        <%= link_to clients_path do %>
        <div class = "inner_square --right --red --top hvr-grow clients__img">

        </div>
        <% end %>
        <%= link_to profiles_path do %>
        <div class = "inner_square --left --red hvr-grow settings__img">

        </div>
        <% end %>
        <%= link_to appointments_path do %>
        <div class = "inner_square --right --black hvr-grow schedule__img">

        </div>
        <% end %>
      </div>
  </div>
</body>