<!-- <p id="notice"><%= notice %></p>

<h1>Pages</h1>

<table>
<thead>
<tr>
<th colspan="3"></th>
</tr>
</thead>

<tbody>
<% @pages.each do |page| %>
<tr>
<td><%= link_to 'Show', page %></td>
<td><%= link_to 'Edit', edit_page_path(page) %></td>
<td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</tbody>
</table>

<br>
<%= link_to 'New Page', new_page_path %> -->
<head>

</head>
<body>
  <!-- <div class="index__bg">
</div> -->
<div class="sidebar rfont">
  <div class="nav-logo">
  </div>
  <div class="side__profile__card centered">
    <div class="prof__img">
      <img src="assets/profileplaceholder.png" style = 'object-fit:contain;' alt="">
    </div>
    <div class="prof__name--card">
      <div class="prof__name rfont">
        Welcome, <%= current_user.email %>
      </div>
    </div>
  </div>
  <a href = "#">
  <div class="side__item side-sched__card">
    <div class="side__icon">
      <i class="far fa-calendar"></i>
    </div>
    <div class="side__text">
      SCHEDULE
    </div>
  </div>
  </a>
  <a href="#">
  <div class="side__item side-sched__card">
    <div class="side__icon">
      <i class="fas fa-user-friends"></i>
    </div>

    <div class="side__text">
      CLIENTS
    </div>
  </div>
  </a>
  <a href="#">
  <div class="side__item side-sched__card">
    <div class="side__icon">
      <i class="far fa-comments"></i>
    </div>

    <div class="side__text">
      MESSAGES

    </div>

  </div>
  </a>
  <a href="#">
  <div class="side__item side-sched__card">
    <div class="side__icon">
      <i class="fas fa-cog"></i>
    </div>
    <div class="side__text">
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    </div>
  </div>
  </a>
</div>
<div class="index__wrapper rfont">
  <div class="greeting__container">
    <div class="greeting__left">
      <div class="greeting__text--first">
        Good morning, <span class = "greeting__name"> <%=current_user.email%> </span>
      </div>
      <div class="greeting__text--second">
        You have <span class = "greeting__notif"> 10 </span> new notifications.
      </div>
    </div>
    <div class="greeting__right">

    </div>
  </div>
  <div class="index__row">
    <div class="index__left__container">
      <div class="index__card__title">
        CLIENTS
      </div>

    </div>
    <div class="index__right__container">
      <div class="index__card__title">
        CALENDAR
      </div>
    </div>
  </div>
  <div class="index__row row__bottom center__flex">
    <div class="index__container--card">
      <div class="index__card__title">
        CALENDAR
      </div>
    </div>
    <div class="index__spacer">

    </div>
    <div class="index__container--card">
      <div class="index__card__title">
        CALENDAR
      </div>
    </div>
    <div class="index__spacer">

    </div>
    <div class="index__container--card">
      <div class="index__card__title">
        CLASSES
      </div>
    </div>

  </div>
  <!-- <div class="page__title">
  Dashboard
</div> -->
<!-- <div class="header__container">
  <div class="row page__headers">
    <div class="col-3 header__cards card__bg rfont">
      <div class="cards__text rfont">
        RATING
      </div>
      <div class="header__num">7.8</div>
    </div>
    <div class="col-6 header__cards">
      <div class="cards__text">
        CLIENT INTERACTIONS
      </div>
      <div class="header__num">
        27
      </div>
    </div>
    <div class="col-3 header__cards">
      <div class="cards__text">
        CLIENTS
      </div>
      <div class="header__num">
        22
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="index__notifications__container">
  <div class="heading">
    Notifications
  </div>
  <div class="notif__card">
    <div class="notif__icon">
      <i class="fas fa-user-friends"></i>
    </div>
    <div class="notif__content">
      You have three new client requests
    </div>
    <div class="notif__time">
      VIEW
    </div>
  </div>
</div> -->
</div>
</body>
