<!-- <p id="notice"><%= notice %></p>

<h1>Pages</h1>

<table>
<thead>
<tr>
<th colspan="3"></th>
</tr>
</thead>

<tbody>
<% @pages.each do |page| %>
<tr>
<td><%= link_to 'Show', page %></td>
<td><%= link_to 'Edit', edit_page_path(page) %></td>
<td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</tbody>
</table>

<br>
<%= link_to 'New Page', new_page_path %> -->
<head>

</head>
<body style = "background-color: #000000;">
  <div class = "index__container">
    <div class = "index__title rfont">
      <span>DASHBOARD</span>
    </div>
      <div class = "index_square">
        <%= link_to workouts_path do %>
        <div class = "inner_square --left --black --top hvr-grow workout__img">

        </div>
        <% end %>
        <div class = "inner_square --right --red --top hvr-grow clients__img">

        </div>
        <div class = "inner_square --left --red hvr-grow">

        </div>
        <div class = "inner_square --right --black hvr-grow">

        </div>
      </div>
  </div>
</body>