<p id="notice"><%= notice %></p>

<head>
  <% @firebase = Firebase::Client.new('https://fitrak-a97c2.firebaseio.com/TRAINERS')%>

  <% @username = current_user.email.split("@").first %>
  <% @email_tag = current_user.email.split("@").second %>

  <% @link = @username + "/clients" %> 
  <% @response = @firebase.get(@link) %>
  <% @clients_arr = @response.body %> 

  <% @firebaseA = Firebase::Client.new('https://fitrak-a97c2.firebaseio.com/')%>
  <% @responseA = @firebaseA.get("https://fitrak-a97c2.firebaseio.com/APPTS") %>
  <% @appts_arr = @responseA.body %> 
  <% @appts_link = "https://fitrak-a97c2.firebaseio.com/APPTS"%>
</head>

<body>
<div class="main_container">
  <h1 class="lfont" style="color: grey">All appointments</h1>
  <br>
  <% if @clients_arr != nil %>
    <% @clients_arr.each_slice(4) do |slice| #for each of this trainer's clients%>   
      <div class="row client_row_padding">
      <% slice.each do |s| %>
        <% @appts_arr.each do |c| #search for this client in the array obj%>
          <% if s == c[0] #if match found %>
            <% @clientName = c[0] %>
            <% @appts_response = @firebaseA.get(@appts_link + "/" + @clientName) %>
            <% @dates = @appts_response.body %>

            
            <div class="col-sm-3 hvr-float">
              
              <div class="card">
                <div>
                  <span class = "client_name rfont"><%= @clientName %></span>
                </div>

                <div class="row nfont" style="margin: 3%">
                  <span class="col"> Appointments: </span>
                  <div class="col">
                    <% @dates.each do |d| %>
                      <% @thisDate = d[0] %>
                      <% @date_response = @firebaseA.get(@appts_link + "/" + @clientName + "/" + @thisDate) %>
                      <% @thisTime = @date_response.body %>

                      <div style="color: black">
                        <span><%= d[0] %>: <%= @thisTime %></span>
                      </div>
                    <% end %>
                  </div>
                </div>

              </div>

            </div>


          <% end %>
        <% end %>
        <% end %>
      </div>
      
    <% end %>
  <% else %>
    <div>
      <span> No appointments! </div>
    </div>
  <% end %>
  <br><br>
  <%= link_to 'New Appointment', new_appointment_path %>

</div>

</body>



