<p id="notice"><%= notice %></p>

<p>
  <strong>Client username:</strong>
  <%= @appointment.client_username %>
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @appointment.start_time %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
