<!DOCTYPE html>

<html>
  <head>
    <title>Fitrak</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/2dbaab7189.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class = "navbar navbar-sz">
      <div class="nav-logo">
        <img src="/assets/redfitrak.png" alt="" class ="nav__img">
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="nav-link">
        <%= link_to 'HOME', pages_path %>
      </div>
    </nav>
    <!-- <nav class="sidebar-nav navbar-purple">
      <a class="navbar-brand nav-logo" href="#">
        <img src="/assets/whitelogo.png" height="50" alt="">
      </a>
    </nav> -->
    <!-- <div class="sidebar rfont">
      <div class="nav-logo">
      </div>
      <div class="side__profile__card centered">
        <div class="prof__img">
          <img src="assets/profileplaceholder.png" style = 'object-fit:contain;' alt="">
        </div>
        <div class="prof__name--card">
          <div class="prof__name rfont">
            Welcome, Joshua!
          </div>
        </div>
      </div>
      <a href = "#">
      <div class="side__item side-sched__card">
        <div class="side__icon">
          <i class="far fa-calendar"></i>
        </div>
        <div class="side__text">
          SCHEDULE
        </div>
      </div>
      </a>
      <a href="#">
      <div class="side__item side-sched__card">
        <div class="side__icon">
          <i class="fas fa-user-friends"></i>
        </div>

        <div class="side__text">
          CLIENTS
        </div>
      </div>
      </a>
      <a href="#">
      <div class="side__item side-sched__card">
        <div class="side__icon">
          <i class="far fa-comments"></i>
        </div>

        <div class="side__text">
          MESSAGES

        </div>

      </div>
      </a>
      <a href="#">
      <div class="side__item side-sched__card">
        <div class="side__icon">
          <i class="fas fa-cog"></i>
        </div>
        <div class="side__text">
        EDIT PROFILE
        </div>
      </div>
      </a>
    </div> -->
    <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
    <%= yield %>

  </body>
</html>
