<!DOCTYPE html>

<html>
  <head>
    <title>Fitrak</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Share+Tech&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/2dbaab7189.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class = "navbar">
      <div class="nav-logo">
        <img src="/assets/redfitrak.png" alt="" class ="nav__img">
      </div>

      <div class="d-flex justify-content-left">
        <div class="nav-link">
          <%= link_to 'HOME', pages_path %>
        </div>

        <div class="nav-link">
          <%= link_to 'WORKOUTS', workouts_path %>
        </div>

        <div class="nav-link">
          <%= link_to 'VIEW MY PROFILE', profiles_path %>
        </div>
        <fieldset class="border">
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            MENU
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">My Account</a>
          </div>
        </div>
        </fieldset>
      </div>
    </nav>


    <!-- <nav class="sidebar-nav navbar-purple">
      <a class="navbar-brand nav-logo" href="#">
        <img src="/assets/whitelogo.png" height="50" alt="">
      </a>
    </nav> -->
    <!-- <div class="sidebar rfont">
      <div class="nav-logo">
      </div>
      <div class="side__profile__card centered">
        <div class="prof__img">
          <img src="assets/profileplaceholder.png" style = 'object-fit:contain;' alt="">
        </div>
        <div class="prof__name--card">
          <div class="prof__name rfont">
            Welcome, Joshua!
          </div>
        </div>
      </div>
      <a href = "#">
      <div class="side__item side-sched__card">
        <div class="side__icon">
          <i class="far fa-calendar"></i>
        </div>
        <div class="side__text">
          SCHEDULE
        </div>
      </div>
      </a>
      <a href="#">
      <div class="side__item side-sched__card">
        <div class="side__icon">
          <i class="fas fa-user-friends"></i>
        </div>

        <div class="side__text">
          CLIENTS
        </div>
      </div>
      </a>
      <a href="#">
      <div class="side__item side-sched__card">
        <div class="side__icon">
          <i class="far fa-comments"></i>
        </div>

        <div class="side__text">
          MESSAGES

        </div>

      </div>
      </a>
      <a href="#">
      <div class="side__item side-sched__card">
        <div class="side__icon">
          <i class="fas fa-cog"></i>
        </div>
        <div class="side__text">
        EDIT PROFILE
        </div>
      </div>
      </a>
    </div> -->
    <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
    <%= yield %>

  </body>
</html>
